//Header
.header{
    max-width: 1440px;
    height: 700px;
    // padding: 0 248px 0 248px;
    background-image: url(./img/Background.png);
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container{
        width: 100%;
        height: 40px;
        padding: 0 248px 0 248px;
        margin-top: 46px;
        display: flex;
        justify-content: space-between;

        &_logo{
            font-size: 20px;
            font-weight: 700;
            color: #FFFFFF;
        }
        &_button{
            width: 170px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            

            .button{
                font-size: 14px;
                background: none;
                border: none;
                color: #FFFFFF;
                // margin: 0 20px 0 0;
                padding: 10px 17px;
                border-radius: 40px;
                cursor: pointer;
            }
            .activity_1{
                border: 2px solid #FFFFFF;
            }
        }
    }

    &__title{
        width: 490px;
        color: #FFFFFF;
        margin-top: 153px;
        text-align: center;
        font-size: 52px;
        font-weight: 700;
    }

    &__under_title{
        font-family: Roboto;
        font-size: 24px;
        color: #F7F3F2;
        margin-top: 29px;
    }

    &__button{
        font-size: 14px;
        font-weight: 700;
        background: #FF4E50;
        border: none;
        color: #FFFFFF;
        padding: 12px 19px;
        margin-top: 33px;
        border-radius: 40px;
        cursor: pointer;
    }
}

// MAIN
.main{
    max-width: 1440px;
}
// SECTION STEPS
.steps{
    margin-top: 95px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title{
        font-size: 26px;
        font-weight: 700;
        color: #444444;
    }

    &__container{
        width: 940px;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;

        &_card{
            width: 300px;
            height: 400px;
            padding: 0 25px 21px 25px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &_button{
                width: 70px;
                height: 20px;
                background: #FF4E50;
                border: none;
                border-radius: 40px;
                font-size: 10px;
                color:  #FFFFFF;
            }

            &_tittle{
                font-size: 24px;
                font-weight: 700;
                color:  #FFFFFF;
                margin-top: 15px;
            }

            &_text{
                font-family: Roboto;
                font-size: 14px;
                color:  #FFFFFF;
                margin-top: 10px;
            }
        }
        .first_card{
            background: url(./img/Step_1.png);
        }
        .second_card{
            background: url(./img/Step_2.png);
        }
        .third_card{
            background: url(./img/Step_3.png);
        }
    }
}

// SECTION PARTNER
.partner{
    margin-top: 95px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title{
        font-size: 26px;
        font-weight: 700;
        color: #444444;
    }
    
    &__container{
        width: 940px;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;

        &_card{
            width: 221px;
            height: 205px;
            // padding: 0 13px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_img{
                border-radius: 50%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
            &_img::before{
                content: "";
                width: 32px;
                height: 32px;
                padding-top: 4px;
                box-sizing: border-box;
                border-radius: 50%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img_before_1::before{
                content: url(./img/music1.svg);
                background: #FF4E50;
            }
            .img_before_2::before{
                content: url(./img/brush_2.svg);
                background: #19D4CA;
            }
            .img_before_3::before{
                content: url(./img/camera_3.svg);
                background: #FFA710;
            }
            .img_before_4::before{
                content: url(./img/Shape_4.svg);
                background: #667DF3;
            }
            &_name{
                font-size: 14px;
                font-weight: 700;
                color:   #444444;
                margin-top: 17px;
            }

            &_text{
                font-family: Roboto;
                font-size: 14px;
                text-align: center;
                color:  #666666;
                margin-top: 12px;
            }
        }
    }
    .partner__button{
        width: 180px;
        height: 40px;
        margin-top: 36px;
        background: none;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        color: #FF4E50;
        cursor: pointer;
    }
}

// SECTION ACTIVITY 

.activity{
    margin-top: 199px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title{
        font-size: 26px;
        font-weight: 700;
        color: #444444;
    }
    &__container{
        width: 940px;
        height: 970px;
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        &_card{
            width: 300px;
            height: 310px;
            border-radius: 4px;
            padding: 0 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &_text{
                font-size: 22px;
                font-weight: 700;
                color: #FFFFFF;
                text-align: center;
                z-index: 3;
            }
        }
        &_card::before{
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            position: absolute;
            z-index: 1;
        }
        .card_background_1{
            background: url(./img/activity_1.png);
        }
        .card_background_2{
            background: url(./img/activity_2.png);
        }
        .card_background_3{
            background: url(./img/activity_3.png);
        }
        .card_background_4{
            background: url(./img/activity_4.png);
        }
        .card_background_5{
            width: 620px;
            background: url(./img/activity_5.png);
        }
        .card_background_6{
            width: 620px;
            background: url(./img/activity_6.png);
        }
        .card_background_7{
            background: url(./img/activity_7.png);
        }

    }
}

// SECTION INTERESTS 
.interests{
    margin-top: 95px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container{
        width: 500px;
        height: 158px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title{
            font-style: 26px;
            font-weight: 700;
            color: #444444;
        }
        &_question{
            font-family: Roboto;
            font-style: 18px;
            color: #666666;
            margin-top: 43px;
        }
        &_form{
            margin-top: 25px;
    
            &_input{
                width: 300px;
                height: 40px;
                padding: 14px 15px 10px;
                border: 1px solid #D4D4D4;
            }
            &_button{
                width: 172px;
                height: 40px;
                font-weight: 700;
                color: #FFFFFF;
                background: #FF4E50;
                border: none;
                border-radius: 40px;
                margin-left: 10px;
            }
        }
    }
}

// FOOTER
.footer{
    max-width: 1440px;
    border-top: 2px solid #FF4E50;
    margin-bottom: 30px; // delet
    margin-top: 100px;
    display: flex;
    justify-content: center;

    &__container{
        width: 940px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        &_name{
            font-size: 16px;
            font-weight: 400;
            color: #FF4E50;
        }
        &_company{

            &_p{
                font-weight: 700;
                font-size: 14px;
                color: #444444;
            }
            &_ul{
                font-family: Roboto;
                font-size: 14px;
                color: #999999;
                margin-top: 11px;
                list-style-type: none;
            }
        }
        &_partners{
            font-weight: 700;
            font-size: 14px;
            color: #444444;
        }
        &_logo{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            &_p{
                font-size: 10px;
                font-weight: 700;
                color: #CCCCCC;
            }
            &_img{
                width: 110px;
                height: 24px;
                margin-top: 7px;
                background: url(./img/footer_logo.svg);
            }
        }
    }
}

