.header {
  max-width: 1440px;
  height: 700px;
  background-image: url(./img/Background.png);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__container {
  width: 100%;
  height: 40px;
  padding: 0 248px 0 248px;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
.header__container_logo {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
.header__container_button {
  width: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__container_button .button {
  font-size: 14px;
  background: none;
  border: none;
  color: #FFFFFF;
  padding: 10px 17px;
  border-radius: 40px;
  cursor: pointer;
}
.header__container_button .activity_1 {
  border: 2px solid #FFFFFF;
}
.header__title {
  width: 490px;
  color: #FFFFFF;
  margin-top: 153px;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}
.header__under_title {
  font-family: Roboto;
  font-size: 24px;
  color: #F7F3F2;
  margin-top: 29px;
}
.header__button {
  font-size: 14px;
  font-weight: 700;
  background: #FF4E50;
  border: none;
  color: #FFFFFF;
  padding: 12px 19px;
  margin-top: 33px;
  border-radius: 40px;
  cursor: pointer;
}

.main {
  max-width: 1440px;
}

.steps {
  margin-top: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.steps__title {
  font-size: 26px;
  font-weight: 700;
  color: #444444;
}
.steps__container {
  width: 940px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.steps__container_card {
  width: 300px;
  height: 400px;
  padding: 0 25px 21px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.steps__container_card_button {
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border: none;
  border-radius: 40px;
  font-size: 10px;
  color: #FFFFFF;
}
.steps__container_card_tittle {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 15px;
}
.steps__container_card_text {
  font-family: Roboto;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 10px;
}
.steps__container .first_card {
  background: url(./img/Step_1.png);
}
.steps__container .second_card {
  background: url(./img/Step_2.png);
}
.steps__container .third_card {
  background: url(./img/Step_3.png);
}

.partner {
  margin-top: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner__title {
  font-size: 26px;
  font-weight: 700;
  color: #444444;
}
.partner__container {
  width: 940px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.partner__container_card {
  width: 221px;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner__container_card_img {
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.partner__container_card_img::before {
  content: "";
  width: 32px;
  height: 32px;
  padding-top: 4px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner__container_card .img_before_1::before {
  content: url(./img/music1.svg);
  background: #FF4E50;
}
.partner__container_card .img_before_2::before {
  content: url(./img/brush_2.svg);
  background: #19D4CA;
}
.partner__container_card .img_before_3::before {
  content: url(./img/camera_3.svg);
  background: #FFA710;
}
.partner__container_card .img_before_4::before {
  content: url(./img/Shape_4.svg);
  background: #667DF3;
}
.partner__container_card_name {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  margin-top: 17px;
}
.partner__container_card_text {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #666666;
  margin-top: 12px;
}
.partner .partner__button {
  width: 180px;
  height: 40px;
  margin-top: 36px;
  background: none;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  color: #FF4E50;
  cursor: pointer;
}

.activity {
  margin-top: 199px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.activity__title {
  font-size: 26px;
  font-weight: 700;
  color: #444444;
}
.activity__container {
  width: 940px;
  height: 970px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.activity__container_card {
  width: 300px;
  height: 310px;
  border-radius: 4px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.activity__container_card_text {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  z-index: 3;
}
.activity__container_card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}
.activity__container .card_background_1 {
  background: url(./img/activity_1.png);
}
.activity__container .card_background_2 {
  background: url(./img/activity_2.png);
}
.activity__container .card_background_3 {
  background: url(./img/activity_3.png);
}
.activity__container .card_background_4 {
  background: url(./img/activity_4.png);
}
.activity__container .card_background_5 {
  width: 620px;
  background: url(./img/activity_5.png);
}
.activity__container .card_background_6 {
  width: 620px;
  background: url(./img/activity_6.png);
}
.activity__container .card_background_7 {
  background: url(./img/activity_7.png);
}

.interests {
  margin-top: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.interests__container {
  width: 500px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests__container_title {
  font-style: 26px;
  font-weight: 700;
  color: #444444;
}
.interests__container_question {
  font-family: Roboto;
  font-style: 18px;
  color: #666666;
  margin-top: 43px;
}
.interests__container_form {
  margin-top: 25px;
}
.interests__container_form_input {
  width: 300px;
  height: 40px;
  padding: 14px 15px 10px;
  border: 1px solid #D4D4D4;
}
.interests__container_form_button {
  width: 172px;
  height: 40px;
  font-weight: 700;
  color: #FFFFFF;
  background: #FF4E50;
  border: none;
  border-radius: 40px;
  margin-left: 10px;
}

.footer {
  max-width: 1440px;
  border-top: 2px solid #FF4E50;
  margin-bottom: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.footer__container {
  width: 940px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.footer__container_name {
  font-size: 16px;
  font-weight: 400;
  color: #FF4E50;
}
.footer__container_company_p {
  font-weight: 700;
  font-size: 14px;
  color: #444444;
}
.footer__container_company_ul {
  font-family: Roboto;
  font-size: 14px;
  color: #999999;
  margin-top: 11px;
  list-style-type: none;
}
.footer__container_partners {
  font-weight: 700;
  font-size: 14px;
  color: #444444;
}
.footer__container_logo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer__container_logo_p {
  font-size: 10px;
  font-weight: 700;
  color: #CCCCCC;
}
.footer__container_logo_img {
  width: 110px;
  height: 24px;
  margin-top: 7px;
  background: url(./img/footer_logo.svg);
}

/*# sourceMappingURL=style_desktop.css.map */
